@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

.navbar-container {
    padding: 10px;
    background: linear-gradient(to right, #fee140, #fa709a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}